.custom-scrollbar {
  overflow-y: scroll; /* Enables vertical scrolling */
  scrollbar-width: none; /* For modern browsers */
  scrollbar-color: #888 transparent; /* Scrollbar color */
  -ms-overflow-style: none; /* For IE and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: transparent; /* Background color of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Border radius of the scrollbar thumb */
}

.App {
  height: 100vh;
}

.dark .dangerous-p {
  @apply dark:text-gray-100;
}

.dangerous-p p {
  margin-bottom: 0.5rem;
  color: inherit;
}
.dangerous-p a {
  color: blue;
  text-decoration: underline;
}

/* Full Calendar */

/* Customize the navigation buttons (prev, next, today) */
.fc-prev-button,
.fc-next-button,
.fc-today-button {
  @apply text-white text-sm font-medium bg-blue-500 hover:bg-blue-400 border-none !important;
}

/* Customize the title */
.fc-toolbar-title {
  @apply text-xl font-bold !important;
}

/* Customize the view buttons */
.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button {
  @apply text-white font-medium text-sm bg-blue-500 hover:bg-blue-400 border-none !important;
}

.fc-view-harness {
  @apply w-full;
}

.calendar-container .fc-header-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fc-col-header {
  @apply sticky top-12 bg-white z-10 shadow-md; /* Adjust `top` if toolbar height differs */
}
